PAYMONGO_SECRET_KEY=sk_test_replace_me
PAYMONGO_WEBHOOK_SECRET=whsec_replace_me
PAYMONGO_API_BASE_URL=https://api.paymongo.com/v2
TRACKFARE_GCASH_SUCCESS_URL=http://localhost/trackfare/user/01_passenger/03_wallet.php?gcash=success
TRACKFARE_GCASH_FAILURE_URL=http://localhost/trackfare/user/01_passenger/03_wallet.php?gcash=failed